In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#check dataframe entered properly, column names, missing data etc
#'purchase_data.columns
#'purchase_data.head()
#'purchase_data.dropna(how="any")
#'purchase_data.describe()

In [9]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Display number of players
players = len(purchase_data["SN"].unique())
players_df= pd.DataFrame({"Total Players": [players]})
players_df

   Total Players
0            576

In [4]:
def format(x):
        return "${:.2f}".format(x)

In [5]:
#Purchasing Analysis (Total)
unique_items = purchase_data["Item ID"].nunique()
price_avg = format(purchase_data["Price"].mean())
purchases = len(purchase_data["Purchase ID"].unique())
revenue = format(purchase_data["Price"].sum())
summary_df=pd.DataFrame({"Number of Unique Items":[unique_items],
                        "Average Price": [price_avg],
                        "Total Purchases":[purchases],
                        "Total Revenue":[revenue]})
summary_df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     183         $3.05              780      $2379.77

In [44]:
#Gender Demographics
gender_group = purchase_data.groupby(['Gender'])
count_gender = gender_group['SN'].nunique()

boy_count= count_gender["Male"]
boy_pct= boy_count/players

women_count = count_gender["Female"]
women_pct= women_count/players

other_count=count_gender["Other / Non-Disclosed"]
other_pct= other_count/players
"{0:.2f}%".format(other_pct * 100)

gender_summary= pd.DataFrame({"Total Count":[boy_count,women_count,other_count],
                             "Percentage of Players": ["{0:.2f}%".format(boy_pct * 100),"{0:.2f}%".format(women_pct * 100),"{0:.2f}%".format(other_pct * 100)]})

gender_summary.set_index(pd.Index(["Male", "Female", "Other"]))

11

In [91]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

#FEMALES
only_females_df = purchase_data.loc[(purchase_data["Gender"] == "Female"), :]
avg_fem_price = format(only_females_df["Price"].mean())
fem_purchasecount = only_females_df["Purchase ID"].count()
fem_revenue = only_females_df["Price"].sum()
fem_per_person = fem_revenue/women_count

#BOYS
only_boys_df = purchase_data.loc[(purchase_data["Gender"] == "Male"), :]
avg_boy_price = format(only_boys["Price"].mean())
boy_purchasecount = only_boys_df["Purchase ID"].count()
boy_revenue = only_boys_df["Price"].sum()
boy_per_person = boy_revenue/boy_count



#OTHER
only_other_df = purchase_data.loc[(purchase_data["Gender"] == "Other / Non-Disclosed"), :]
avg_other_price = format(only_other_df["Price"].mean())
other_purchasecount = only_other_df["Purchase ID"].count()
other_revenue = only_other_df["Price"].sum()
other_per_person = other_revenue/other_count

gpurchase_summary=pd.DataFrame({"Purchase Count":[fem_purchasecount,boy_purchasecount,other_purchasecount],
                                "Average Purchase Price":[avg_fem_price,avg_boy_price,avg_other_price],
                                "Total Purchase Value":[format(fem_revenue),format(boy_revenue),format(other_revenue)],
                                "Avg Total Purchase per Person":[format(fem_per_person),format(boy_per_person),format(other_per_person)]
                                                  })

gender_purchase_summary = gpurchase_summary.set_index(pd.Index(['Female','Male','Other / Non-Disclosed']))
gender_purchase_summary.index.name="Gender"
gender_purchase_summary
#gender_purchase_summary.style.format('font-weight: bold')

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [ ]:
#Age Demographics
#Establish bins for ages
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table